body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f6e7c2;
  margin: 0;
}

.mapa-container {
  position: relative;
  display: inline-block;
  width: 100%;
  max-width: 100%;
}

.mapa-container img {
  width: 100%;
  height: auto;
  }

.imagem-abaixo {
  width: 100%;
  max-width: 100%;
  margin-top: 20px;
}

.botao {
  position: absolute;
  transform: translate(-50%, -50%);
  background-color: transparent;
  color: transparent;
  border: transparent;
  padding: 8px 12px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 17px;
}

.botao:hover {
  background-color: #a81324;
}
