body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f0f0f0;
}

.mapa-container {
  position: relative;
  display: inline-block;
}

.mapa-container img {
  width: 600px;
  max-width: 100%;
  height: auto;
}

.botao {
  position: absolute;
  transform: translate(-50%, -50%);
  background-color: none;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
}

.botao:hover {
  background-color: none;
}
